<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13990665285-dud4nsc7750hfdrj1lf2irrd5ic0dsfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13990665285-dud4nsc7750hfdrj1lf2irrd5ic0dsfj</string>
	<key>API_KEY</key>
	<string>AIzaSyDtCyW-gQNb0VI5EyyOIVCH6zpzlFq7Jwo</string>
	<key>GCM_SENDER_ID</key>
	<string>13990665285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shopapp1.app</string>
	<key>PROJECT_ID</key>
	<string>app1-5c466</string>
	<key>STORAGE_BUCKET</key>
	<string>app1-5c466.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13990665285:ios:d6bbbc4c18bed38b68d72c</string>
</dict>
</plist>